<a href="https://colab.research.google.com/github/PakinWasu/PythonClass/blob/main/LC05_def.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def message():
  print('I am Pakin')
  print('I Love Python')

message()

In [4]:
def main ():
  print('I have a message for you')
  message()
  print('Goodbye!')
def message():
  print('I am Pakin')
  print('I Love Python')

main()

I have a message for you
I am Pakin
I Love Python
Goodbye!

In [8]:
def main():
  texas()
  california()

def texas ():
  birds = 5000
  print("texas has",birds,'birds')

def california ():
  birds = 8000
  print("california has",birds,'birds')

main()

texas has 5000 birds
california has 8000 birds

In [10]:
def main():
  value = 5
  show_double(value)
def show_double(number):
  result = number*2
  print(result)

main()

10

In [11]:
def main():
  print("The sum of 12 and 45 is")
  show_sum(12,45)

def show_sum(num1,num2):
  result=num1+num2
  print(result)

main()

The sum of 12 and 45 is
57

In [12]:
def main():
  value = 99
  print('The value is',value)
  change_me(value)
  print('Back in main the value is',value)

def change_me(arg):
  print('I am changing the value.')
  arg = 0
  print('Now the value is',arg)

main()

The value is 99
I am changing the value.
Now the value is 0
Back in main the value is 99

In [13]:
def reverse_name(first,last):
  print(last,first)

def main():
  first_name = input('Enter your first name: ')
  last_name=input('Enter your last name: ')
  print('Your name reversed is')
  reverse_name(first_name,last_name)

main()

Enter your first name: PAkin
Enter your last name: Wasu
Your name reversed is
Wasu PAkin

In [15]:
number = 0
def main():
  #global number
  number = int(input('Enter a number: '))
  show_number()

def show_number():
  print('The number you entered is',number)

main()

Enter a number: 16
The number you entered is 0

In [16]:
import random

HEADS = 1
TALLS = 2
TOSSES = 10
def main ():
  for toss in range(TOSSES):
    if random.randint(HEADS,TALLS)==HEADS:
      print('Heads')
    else:
      print('Tails')

main()

Heads
Heads
Tails
Tails
Heads
Tails
Heads
Tails
Heads
Tails

In [17]:
DISCOUNT_PERCENTAGE = 0.20
def main():
  reg_price = get_regular_price()
  sale_price = reg_price - discount(reg_price)
  print('The sale price is $',format(sale_price,',.2f'),sep='')
def get_regular_price():
  price = float(input('Enter the item\'s regular price: '))
  return price
def discount(price):
  return price*DISCOUNT_PERCENTAGE
main()

Enter the item's regular price: 500
The sale price is $400.00

In [18]:
def get_name():
  first = input('Enter your first name: ')
  last = input('Enter your last name: ')
  return first,last

first_name , last_name = get_name()
print('First name :',first_name,' Last name :',last_name)

Enter your first name: Pakin
Enter your last name: Wasu
First name : Pakin  Last name : Wasu

In [23]:
abs(-4/3)

1.3333333333333333

In [25]:
round(2/4)

0

In [27]:
min('AD','BDfg','CD')

'AD'

In [30]:
a=[123,59,78,6]
b = [4/3,2/3,1/3,1/3,1/3]
sorted(a)

[6, 59, 78, 123]

In [31]:
b = [4/3,2/3,1/3,1/3,1/3]
sum(b)

3.0000000000000004